<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<appSettings>
		<add key="PresidencyResultsBosniak2018" value="https://www.izbori.ba/api_2018/race1_memberpresidencycandidatesresult/\&#34;WebResult_2018GEN_2018_10_4_15_40_5&#34;/701/1"/>
		<add key="PresidencyResultsSerb2018" value="https://www.izbori.ba/api_2018/race1_memberpresidencycandidatesresult/WebResult_2018GEN_2018_10_4_15_40_5/703/1"/>
		<add key="PresidencyResultsCroat2018" value="https://www.izbori.ba/api_2018/race1_memberpresidencycandidatesresult/WebResult_2018GEN_2018_10_4_15_40_5/702/1"/>
		<add key="PresidencyOverviewFederation2018" value="https://www.izbori.ba/api_2018/race1_entitybasicinfo/WebResult_2018GEN_2018_10_4_15_40_5/1"/>
		<add key="PresidencyOverviewRS2018" value="https://www.izbori.ba/api_2018/race1_entitybasicinfo/\&#34;WebResult_2018GEN_2018_10_4_15_40_5&#34;/2"/>
		<add key="PresidencyOverviewMunicipal2018" value="https://www.izbori.ba/api_2018/race1_electoralunitbasicinfo/WebResult_2018GEN_2018_10_4_15_40_5/"/>
		<add key="PresidencyResultsMunicipal2018" value="https://www.izbori.ba/api_2018/race1_electoralunitcandidatesresult/WebResult_2018GEN_2018_10_4_15_40_5/"/>

		<add key="PresidencyResultsBosniak2022" value="https://www.izbori.ba/api_2018/race1_memberpresidencycandidatesresult/WebResult_2022GENT1_2022_4_20_14_10_43/701/1"/>
		<add key="PresidencyResultsSerb2022" value="https://www.izbori.ba/api_2018/race1_memberpresidencycandidatesresult/WebResult_2022GENT1_2022_4_20_14_10_43/703/1"/>
		<add key="PresidencyResultsCroat2022" value="https://www.izbori.ba/api_2018/race1_memberpresidencycandidatesresult/WebResult_2022GENT1_2022_4_20_14_10_43/702/1"/>
		<add key="PresidencyOverviewFederation2022" value="https://www.izbori.ba/api_2018/race1_entitybasicinfo/WebResult_2022GENT1_2022_4_20_14_10_43/1"/>
		<add key="PresidencyOverviewRS2022" value="https://www.izbori.ba/api_2018/race1_entitybasicinfo/WebResult_2022GENT1_2022_4_20_14_10_43/2"/>
		<add key="PresidencyOverviewMunicipal2022" value="https://www.izbori.ba/api_2018/race1_electoralunitbasicinfo/WebResult_2022GENT1_2022_4_20_14_10_43/"/>
		<add key="PresidencyResultsMunicipal2022" value="https://www.izbori.ba/api_2018/race1_electoralunitcandidatesresult/WebResult_2022GENT1_2022_4_20_14_10_43/"/>
		
		<add key="StateParliamentOverview2018" value="https://www.izbori.ba/api_2018/race2_electoralunitparentbasicinfo/WebResult_2018GEN_2018_10_4_15_40_5/"/>
		<add key="StateParliamentParties2018" value="https://www.izbori.ba/api_2018/race2_electoralunitparentpartyresult/WebResult_2018GEN_2018_10_4_15_40_5/"/>
		<add key="StateParliamentMunicipalOverview2018" value="https://www.izbori.ba/api_2018/race2_electoralunitbasicinfo/WebResult_2018GEN_2018_10_4_15_40_5/"/>
		<add key="StateParliamentMunicipalParties2018" value="https://www.izbori.ba/api_2018/race2_electoralunitpartyresult/WebResult_2018GEN_2018_10_4_15_40_5/"/>

		<add key="StateParliamentOverview2022" value="https://www.izbori.ba/api_2018/race2_electoralunitparentbasicinfo/WebResult_2022GENT1_2022_4_20_14_10_43/"/>
		<add key="StateParliamentParties2022" value="https://www.izbori.ba/api_2018/race2_electoralunitparentpartyresult/WebResult_2022GENT1_2022_4_20_14_10_43/"/>
		<add key="StateParliamentMunicipalOverview2022" value="https://www.izbori.ba/api_2018/race2_electoralunitbasicinfo/WebResult_2022GENT1_2022_4_20_14_10_43/"/>
		<add key="StateParliamentMunicipalParties2022" value="https://www.izbori.ba/api_2018/race2_electoralunitpartyresult/WebResult_2022GENT1_2022_4_20_14_10_43/"/>
		
		<add key="FederationParliamentOverview2018" value="https://www.izbori.ba/api_2018/race4_electoralunitparentbasicinfo/WebResult_2018GEN_2018_10_4_15_40_5" />
		<add key="RSParliamentOverview2018" value="https://www.izbori.ba/api_2018/race6_electoralunitparentbasicinfo/WebResult_2018GEN_2018_10_4_15_40_5" />
		<add key="FederationParliamentParties2018" value="https://www.izbori.ba/api_2018/race4_electoralunitparentpartyresult/WebResult_2018GEN_2018_10_4_15_40_5/" />
		<add key="RSParliamentParties2018" value="https://www.izbori.ba/api_2018/race6_electoralunitparentpartyresult/WebResult_2018GEN_2018_10_4_15_40_5/" />
		<add key="RSPresidentOverview2018" value="https://www.izbori.ba/api_2018/race5_basicinfo/WebResult_2018GEN_2018_10_4_15_40_5" />
		<add key="RSPresidentMunicipal2018" value="https://www.izbori.ba/api_2018/race5_electoralunitcandidatesresult/WebResult_2018GEN_2018_10_4_15_40_5/"/>
		<add key="RSMunicipalOverview2018" value ="https://www.izbori.ba/api_2018/race6_electoralunitbasicinfo/WebResult_2018GEN_2018_10_4_15_40_5/"/>
		<add key="FederationMunicipalOverview2018" value ="https://www.izbori.ba/api_2018/race4_electoralunitbasicinfo/WebResult_2018GEN_2018_10_4_15_40_5/"/>
		<add key="FederationMunicipalParty2018" value="https://www.izbori.ba/api_2018/race4_electoralunitpartyresult/WebResult_2018GEN_2018_10_4_15_40_5/"/>
		<add key="RSMunicipalParty2018" value="https://www.izbori.ba/api_2018/race6_electoralunitpartyresult/WebResult_2018GEN_2018_10_4_15_40_5/"/>

		<add key="FederationParliamentOverview2022" value="https://www.izbori.ba/api_2018/race4_electoralunitparentbasicinfo/WebResult_2022GENT1_2022_4_20_14_10_43/"/>
		<add key="RSParliamentOverview2022" value="https://www.izbori.ba/api_2018/race6_electoralunitparentbasicinfo/WebResult_2022GENT1_2022_4_20_14_10_43/"/>
		<add key="FederationParliamentParties2022" value="https://www.izbori.ba/api_2018/race4_electoralunitparentpartyresult/WebResult_2022GENT1_2022_4_20_14_10_43/"/>
		<add key="RSParliamentParties2022" value="https://www.izbori.ba/api_2018/race6_electoralunitparentpartyresult/WebResult_2022GENT1_2022_4_20_14_10_43/"/>
		<add key="RSPresidentOverview2022" value="https://www.izbori.ba/api_2018/race5_basicinfo/WebResult_2022GENT1_2022_4_20_14_10_43/"/>
		<add key="RSPresidentMunicipal2022" value="https://www.izbori.ba/api_2018/race5_electoralunitcandidatesresult/WebResult_2022GENT1_2022_4_20_14_10_43/"/>
		<add key="RSMunicipalOverview2022" value="https://www.izbori.ba/api_2018/race6_electoralunitbasicinfo/WebResult_2022GENT1_2022_4_20_14_10_43/"/>
		<add key="FederationMunicipalOverview2022" value="https://www.izbori.ba/api_2018/race4_electoralunitbasicinfo/WebResult_2022GENT1_2022_4_20_14_10_43/"/>
		<add key="FederationMunicipalParty2022" value="https://www.izbori.ba/api_2018/race4_electoralunitpartyresult/WebResult_2022GENT1_2022_4_20_14_10_43/"/>
		<add key="RSMunicipalParty2022" value="https://www.izbori.ba/api_2018/race6_electoralunitpartyresult/WebResult_2022GENT1_2022_4_20_14_10_43/"/>
		
		<add key="CantonOverview2018" value="https://www.izbori.ba/api_2018/race7_electoralunitparentbasicinfo/WebResult_2018GEN_2018_10_4_15_40_5/"/>
		<add key="CantonParties2018" value="https://www.izbori.ba/api_2018/race7_electoralunitparentpartyresult/WebResult_2018GEN_2018_10_4_15_40_5/" />
		<add key="CantonMunicipalOverview2018" value="https://www.izbori.ba/api_2018/race7_electoralunitbasicinfo/WebResult_2018GEN_2018_10_4_15_40_5/"/>
		<add key="CantonMunicipalParties2018" value="https://www.izbori.ba/api_2018/race7_electoralunitpartyresult/WebResult_2018GEN_2018_10_4_15_40_5/"/>

		<add key="CantonOverview2022" value="https://www.izbori.ba/api_2018/race7_electoralunitparentbasicinfo/WebResult_2022GENT1_2022_4_20_14_10_43/"/>
		<add key="CantonParties2022" value="https://www.izbori.ba/api_2018/race7_electoralunitparentpartyresult/WebResult_2022GENT1_2022_4_20_14_10_43/"/>
		<add key="CantonMunicipalOverview2022" value="https://www.izbori.ba/api_2018/race7_electoralunitbasicinfo/WebResult_2022GENT1_2022_4_20_14_10_43/"/>
		<add key="CantonMunicipalParties2022" value="https://www.izbori.ba/api_2018/race7_electoralunitpartyresult/WebResult_2022GENT1_2022_4_20_14_10_43/"/>
		
		<add key="MunicipalityCandidateDetails2016" value="https://www.izbori.ba/api_2018/race8_electoralunitcandidatesresult/WebResult_2016MUNI_2016_9_23_16_38_25/"/>
		<add key="MunicipalityCandidateDetails2020" value="https://www.izbori.ba/api_2018/race8_electoralunitcandidatesresult/WebResult_2020MUNI_2020_11_10_15_0_18/"/>
		<add key="MunicipalityCandidateDetails2024" value="https://www.izbori.ba/api_2018/race8_electoralunitcandidatesresult/WebResult_2024MUNI_2024_9_19_20_28_13/"/>
		
		<add key="MunicipalityCandidateOverview2016" value="https://www.izbori.ba/api_2018/race8_electoralunitbasicinfo/WebResult_2016MUNI_2016_9_23_16_38_25/"/>
		<add key="MunicipalityCandidateOverview2020" value="https://www.izbori.ba/api_2018/race8_electoralunitbasicinfo/WebResult_2020MUNI_2020_11_10_15_0_18/"/>
		<add key="MunicipalityCandidateOverview2024" value="https://www.izbori.ba/api_2018/race8_electoralunitbasicinfo/WebResult_2024MUNI_2024_9_19_20_28_13/"/>
		
		<add key="MunicipalityCouncilOverview2016" value="https://www.izbori.ba/api_2018/race9_electoralunitbasicinfo/WebResult_2016MUNI_2016_9_23_16_38_25/"/>
		<add key="MunicipalityCouncilOverview2020" value="https://www.izbori.ba/api_2018/race9_electoralunitbasicinfo/WebResult_2020MUNI_2020_11_10_15_0_18/"/>
		<add key="MunicipalityCouncilOverview2024" value="https://www.izbori.ba/api_2018/race9_electoralunitbasicinfo/WebResult_2024MUNI_2024_9_19_20_28_13/"/>
		
		<add key="MunicipalityCouncilParty2016" value="https://www.izbori.ba/api_2018/race9_electoralunitpartyresult/WebResult_2016MUNI_2016_9_23_16_38_25/"/>
		<add key="MunicipalityCouncilParty2020" value="https://www.izbori.ba/api_2018/race9_electoralunitpartyresult/WebResult_2020MUNI_2020_11_10_15_0_18/"/>
		<add key="MunicipalityCouncilParty2024" value="https://www.izbori.ba/api_2018/race9_electoralunitpartyresult/WebResult_2024MUNI_2024_9_19_20_28_13/"/>
		
		<add key="MunicipalityCouncilMinority2016" value="https://www.izbori.ba/api_2018/race9_electoralunitnationalminoritiesresult/WebResult_2016MUNI_2016_9_23_16_38_25/"/>
		<add key="MunicipalityCouncilMinority2020" value="https://www.izbori.ba/api_2018/race9_electoralunitnationalminoritiesresult/WebResult_2020MUNI_2020_11_10_15_0_18/"/>
		<add key="MunicipalityCouncilMinority2024" value="https://www.izbori.ba/api_2018/race9_electoralunitnationalminoritiesresult/WebResult_2024MUNI_2024_9_19_20_28_13/"/>
		
		<add key="Secret" value="x0YhSjTu32qRG4thgpfewJQaqhk71BmCaWgoRdSQEYADWgIzc7WZ8zlLLME7KOomXK2A-yn6A1JVc10HAKUF9Fr6Q64cPWHysMPWk-oF4PY-1rMUPfD2npN-Y6I5y6XYXkt8Uhkn2l9h1An8jiBOkTyqXH45bnE-Cnzvc1eeXSc"></add>
	</appSettings>
</configuration>